@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Slabo+27px');

body {
  padding: 50px;
  font: 14px "Open Sans","Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img {
  height: auto;
  max-width: 2.5rem;
  margin-right: 1rem;
}

.d-center {
  display: flex;
  align-items: center;
}

.selected img {
  width: auto;
  max-height: 23px;
  margin-right: 0.5rem;
}

.v-select .no-options{
  color:black;
}

.v-select .dropdown-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  padding: 0 0 4px;
  height: 44px;
  background: none;
  border: 1px solid rgba(60,60,60,.26);
  border-radius: 4px;
  white-space: normal;
}

.v-select .dropdown li {
  border-bottom: 1px solid rgba(112, 128, 144, 0.1);
}

.v-select .dropdown li:last-child {
  border-bottom: none;
}

.v-select .dropdown li a {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.25em;
  color: #3c3c3c;
}

.v-select .dropdown-menu .active > a {
  color: #fff;
}

/*My Magic CSS3 Collapsible - NO JS REQUIRED !! WOW */

.collabsible-box {
  margin-bottom: 1.2rem 0;
}

.collabsible-box input[type='checkbox'] {
  display: none;
}

.toggle-label {
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
  float: none;
  margin: 0 auto;
  width:100%;
}

.toggle-label:hover {
  color: #7C5A0B;
}

.toggle-label::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transition: transform .2s ease-out;
  -webkit-transition: transform .2s ease-out;
  -moz-transition: transform .2s ease-out;
  -o-transition: transform .2s ease-out;
}


.toggle:checked + .toggle-label::before  {
  transform: rotate(90deg) translateX(-3px);
  -moz-transform: rotate(90deg) translateX(-3px);
  -o-transform: rotate(90deg) translateX(-3px);
  -ms-transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  -moz-transition: max-height .25s ease-in-out;
  -o-transition: max-height .25s ease-in-out;
  -webkit-transition:  max-height .25s ease-in-out;

}

.toggle:checked + .toggle-label + .collapsible-content {
  max-height: 520px;
  overflow: visible;

}

.collapsible-content .content-inner {
  background-color: white;
  border-bottom: 1px solid #362A83;
  color: white;
  padding: .5rem 1rem;
}

/* My magic Shadows */
.shadow-top {
  box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22);
}
.shadow-right {
  box-shadow: 10px 0 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: 10px 0 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: 10px 0 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: 10px 0 20px -5px rgba(0,0,0,0.22);
}
.shadow-bottom {
  box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22);

}
.shadow-left {
  box-shadow: -10px 0 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: -10px 0 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: -10px 0 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: -10px 0 20px -5px rgba(0,0,0,0.22);
}
.shadow-all {
  box-shadow: 0 0 20px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.22);
  -o-box-shadow: -10px 0 20px -5px rgba(0,0,0,0.22);
}
.shadow-top-right{
  box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
}
.shadow-top-bottom{
  box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22); ;
}
.shadow-top-left{
  box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);
}
.shadow-bottom-right{
  box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
}
.shadow-left-right{
  box-shadow: -10px 0 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: -10px 0 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: -10px 0 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: -10px 0 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
}
.shadow-bottom-left{
  box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);


}
.shadow-top-bottom-right{
  box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22),
  10px 0 20px -5px rgba(0,0,0,0.22);
}
.shadow-top-bottom-left{
  box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);
  -o-box-shadow: 0 -10px 20px -5px rgba(0,0,0,0.22),
  0 10px 20px -5px rgba(0,0,0,0.22),
  -10px 0 20px -5px rgba(0,0,0,0.22);
}
.shadow-inset {
  box-shadow: inset 0 0 20px rgba(0,0,0,0.22);
}

.btn-custom{
  width: 100%;
  height: 44px;
}

/* top-menu */
.top-menu{
  width: 100%;
  padding: 0;
  border: none;
  left: 0;
  z-index: 3;
  text-align: center;
  color: #fff;
  background-color: #10183a;
  top:0;
  position: fixed;
}

.main{
  padding-top: 2%;
}

/* colors */
.black {
  color: black;
}

/* display */
.info{
  display: contents;
  color:white;
}


/* Responsive footer */
.footer{
  width: 100%;
  padding: 0;
  border: none;
  left: 0;
  z-index: 3;
  text-align: center;
  color: #fff;
  background-color: #10183a;
  bottom: 0;
  position: fixed;
}

.footer p{
  margin-top: 10px;
  font-family: 'Slabo 27px', serif;
  font-size:15px;
}


@media screen and (max-width: 992px) {
  .main {
    padding-top: 230px;
  }
}

@media screen and (width: 1024px) {
  .main {
    padding-top: 70px;
  }
}

